/* Custom Properties 
		main-color: rgba(255,153,0,1)
		second-color: rgba(0,255,255,1)
		white-color: rgba(255,255,255,1)
*/
body{
  font-family: 'Raleway', sans-serif;
  padding-top: 1em;
}
header{
  background: rgba(255,255,255,1);
}
h1{
  color: rgba(255,153,0,1);
}
h2{
  color: rgba(255,153,0,1);
}
.time{
  background:  rgba(255,153,0,1);
  color: rgba(255,255,255,1);
  padding: 2em;
}
.btn_custom{
	background: rgba(100,180,50,1);
  color: rgba(255,255,255,1);
  font-size: 170%;
}
.btn_custom:hover{
  background: rgba(255,255,255,1);
  border: solid 2px rgba(100,180,50,1);
  color: rgba(100,180,50,1);
}