/* Custom Properties 
		main-color: rgba(255,153,0,1)
		second-color: rgba(0,255,255,1)
		white-color: rgba(255,255,255,1)
*/
body{
	/*background: rgba(255,153,0,1);*/
	font-family: 'Raleway', sans-serif;
}
header{
	background: rgba(255,255,255,1);
	padding-top: 2em; 
}
h1{
	color: rgba(255,153,0,1);
}
h2{
	background: linear-gradient(to top, rgba(255,153,0,1),rgba(255,153,0,.5), rgba(255,255,255,1));
	color: rgba(255,255,255,1);
	padding: 3em 0; 
	text-shadow: 2px 2px rgba(255,153,0,1);
}